[Unit]
<<<<<<<< HEAD:swarmchat-fe-prod.service
Description=SwarmChat React Frontend (Production)
========
Description=SwarmChat React Frontend (Development)
>>>>>>>> origin/dev:swarmchat-fe-dev.service
After=network.target
Wants=network-online.target

[Service]
User=peter
Group=users
WorkingDirectory=/home/peter/convo-dev/frontend
Environment=NODE_ENV=development
Environment=PORT=3001
Environment=REACT_APP_API_URL=https://dev.swarmchat.me/api
ExecStart=/usr/bin/npm start
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
TimeoutStartSec=30
TimeoutStopSec=5
Type=simple

[Install]
WantedBy=multi-user.target
