[Unit]
Description=SwarmChat FastAPI Application (Development)
After=network.target
Wants=network-online.target

[Service]
User=peter
Group=users
WorkingDirectory=/home/peter/convo-dev
Environment=LANG=en_US.UTF-8
Environment=LC_ALL=en_US.UTF-8
Environment=OPENAI_API_KEY={$OPENAI_API_KEY}
ExecStart=/home/peter/.virtualenvs/swarm-dev/bin/uvicorn swarm_chat:app --host 127.0.0.1 --port 8001 --log-level debug
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
TimeoutStartSec=30
TimeoutStopSec=5
Type=simple
KillMode=mixed

[Install]
WantedBy=multi-user.target
